h1 {
    font-size: 75px;
  }
  
h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
  }
  
h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
  }
  
h6 {
    font-size: 10px;
}

.p1 {
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.p2 {
    background-color: #f9fafc;
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.p3 {
    color: #358285;
    font-family: Cardo, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

.container{
   background:#ffdab9;
   border-radius:5px;
   box-shadow: 0 2px 6px rgba(0,0,0.5);
   width:400px;
   max-width:100%;
 

}
.header{
   background:#f7f7f7;
   border-bottom: 1px solid#fffdfa;
   padding: 20px 40px;       
        
}
.header h4{
   margin: 0;
   text-align: center;
   font-style: italic;
           
}
.form{
   padding: 30px 40px;
}
.form-control{
   margin-bottom:10px;
   padding-bottom: 20px;
   position: relative;
}
.form-control label{
   display: inline-block;
    margin-bottom: 5px;
}
.form-control select {
   width: 100%;
   padding:8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   line-height: 16px;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
.form-option {
   padding: 8px;
 }
 

.form-option:hover {
   background-color: #f7f7f7;
 }
textarea{
   width:100%;
   border:3px solid #ffdab9;
   padding:10px;
   margin-bottom:25px;
   height:100px;
   resize:none
}

.form-control input{
   border: 2px solid #ffdab9;
   border-radius: 4px;
   display:block;
   font-family: Arimo;
   font-size: 14px;
   width: 100%;
   height: 40px;
   padding-left: 10px;
}

.form-control i{
   position: absolute;
   top: 33px;
   right: 10px;
    visibility: hidden;
}
.form-control small{
   position: absolute;
   bottom:0;
   left:0;
   visibility: hidden;
}
.button{
   background:#ffdab9;
   border: 2px solid #ffdab9;
    color: #fff;
   font-family: inherit;
   border-radius:  4px;
   display: block;
   padding: 10px;
   font-size: 16px;
   width: 100%;
   cursor : pointer
}
.form-control.success input{
   border-color: #ffdab9;
}
.form-control.error input{
   border-color: #e74c3c;
}
.form-control.success i.fa-check-circle{
   color:  #ffdab9;
   visibility: visible;                          
}
.form-control.error i.fa-exclamation{ 
   color:#e74c3c;
   visibility: visible;                          
}
.form-control.error small{
   color:#e74c3c;
   visibility: visible;
}

.p4 {
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    font-size: 20px;
}

.p5 {
    background-color: #ffefe0;
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.p6 {
    background-color: #ffefe0;
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
}

.square{
    height: 400px;
    width: 32%;
    margin: 10px;
    background-color: #dff3ff;
    display: block;
    float: left;
}

.square2{
    height: 400px;
    width: 32%;
    margin: 10px auto;
    background-color: #dff3ff;
    display: block;
    float: left;
}

.square3{
    width: 32%;
    height: 400px;
    margin: 10px;
    background-color: #dff3ff;
    display: block;
    float: left;
}

.square img{
    position: relative;
}

h2#testimonies{
    padding-top: 100px;
    margin-bottom: 10px;
}

.meet{
    align-self: center;
}

.name{
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.box {
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 50px;
}

.team-box{
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}