h1 {
    font-size: 75px;
  }
  
h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
  }
  
h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
  }
  
h6 {
    font-size: 10px;
}

.p1 {
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.p2 {
    background-color: #f9fafc;
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.p3 {
    color: #358285;
    font-family: Cardo, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

.p4 {
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    font-size: 20px;
}

.p5 {
    background-color: #ffefe0;
    color: #393F4A;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.square{
    height: 350px;
    width: 350px;
    display: inline;
    position: relative;
    background-color: #dff3ff;
}

.square2{
    height: 350px;
    width: 350px;
    margin: auto;
    background-color: #dff3ff;
}

.square3{
    width: 350px;
    height: 350px;
    margin: auto;
    background-color: #dff3ff;
}
