div.main-product{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 200px;
}

.main-product div.product-img{
    width: 35%;
    float: left;
    margin: 0 2% 0 10%;
    position: relative;
    background-color: #FFEBD9;
}

.main-product .product-img img{
    max-width: 100%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.label{
    position: absolute;
    right: 0;
    margin: 20px 0;
    padding: 20px;
    background: #358285;
    color: #FFFDFA;
    font-family: "DM Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    text-align: center;
}

.main-product div.product-description{
    padding: 10px;
    margin: 0 10% 0 2%;
    float: right;
    width: 35%;
}

.main-product .product-description p{
    overflow-x: wrap;
    overflow-y: auto;
}

.main-product h1{
    font-size: 30pt;
}

.gallery h1{
    margin: 0 10% 50px 10%;
    font-size: 40pt;
}

div.gallery{
    margin-top: 100px;
}

div.product-gallery{
    margin: auto 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.product{
    width: 45%;
}

.product .product-img{
    max-width: 100%;
    background-color: #FFEBD9;
}

hr{
    margin-top: 100px;
}

div#cart{
    margin: 100px 0 100px 10%;
    width: 40%;
    overflow: wrap;
}

#cart img.prod-img{
    max-width: 10%;
    height: auto;
} 

#cart h1{
    font-size: 40pt;
}

div.cart-item{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-item h6{
    font-size: 14pt;
    display: inline-block;
    width: 30%;
    text-align: left;
}

.cart-item p.price{
    display: inline-block;
    width: 20%;
    text-align: left;
}

div.cart-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
} 

div#order-summary{
    margin: 100px 10% 100px 0;
    width: 30%;
    overflow: wrap;
}

#order-summary div.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#order-summary h3, #order-summary h4, #order-summary h5{
    display: inline-block;
}

/* specifying behaviour when on phone size screen */
@media screen and (max-width: 600px){
    /* main product */
    div.main-product{
        margin-top: 50px;
    }

    .main-product div.product-img{
        width: 90%;
        float: none;
        margin: 0 5%;
    }

    .main-product div.product-description{
        padding: 10px;
        margin: 0 5%;
        float: none;
        width: 90%;
    }

    .gallery h1{
        margin: 0 5% 50px 5%;
    }

    div.product-gallery{
        margin: auto 5%;
    }

    /* cart */
    div.cart-section{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    div#cart{
        margin: 100px 5%;
        width: 90%;
        overflow: wrap;
    }

    div#order-summary{
        margin: 100px 5%;
        width: 90%;
        overflow: wrap;
    }
}